body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.index-header {
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  color: #e7e9fc;
}

.web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.studio {
  color: #2e2f42;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 24px;
  top: 24px;
  left: 156px;
  text-decoration: none;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.index-nav ul {
  display: flex;
  width: 261px;
  height: 24px;
  /* top: 24px; */
  left: 347px;
  gap: 40px;
  list-style: none;
  align-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  text-decoration: none;
  color: #2e2f42;
}

.contacts {
  text-align: right;
  left: 940px;
  gap: 20px;
  top: -24px;
  height: 24px;
  display: flex;
  position: relative;
  text-decoration: none;
}

.hero {
  background-color: #2e2f42;
  padding: 100px 0 100px 0;
  text-align: center;
}
.hero h1 {
  font-size: 36px;
  color: #ffffff;

  margin-bottom: 20px;
}
.hero button {
  padding: 16px 32px 16px 32px;
  font-size: 18px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  gap: 10px;
}

.inform {
  display: flex;
  width: 100%;
  height: 104px;
  top: 792px;
  left: 156px;
  justify-content: center;
  text-decoration: none;

  list-style: none;
}

.features {
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 1128px;
  height: 104px;
  top: 792px;
  left: 156px;
  gap: 8px;
}

.images {
  display: flex;
  list-style: none;
  width: 1128px;
  height: 412px;
  top: 1016px;
  left: 156px;
}
.what-are {
  display: flex;
  width: 323px;
  top: 1016px;
  height: 40px;
  left: 559px;
  justify-content: center;
}

.team-section {
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 1440px;
  height: 732px;
  top: 1548px;
}

.team {
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 264px;
  height: 380px;
  top: 1780px;
  left: 156px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}

.footer-index {
  width: 100%;
  height: 312px;
  top: 2280px;
  background-color: #2e2f42;
}

.address {
  color: #f4f4fd;

  height: 72px;
  top: 2420px;
  left: 156px;
}
.web-footer {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.studio-footer {
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
